.box-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}


.box1, .box2 {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.box1{
    border: solid black 1px;
    border-radius: 12px;
}
.range-wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px 70px;
}

.k-label{
    display: flex;
    /* border: solid red; */
    justify-content: space-between;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;

    border: solid black 1px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background-color: black;
    border-radius: 2px;
}
  
input[type="range"]::-ms-thumb {
    appearance: none;
}


