.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex: 1;
}
.box div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    font-size: 1.2rem;
    text-decoration: underline;
}

.box:hover{
    /* background-color: rgba(57, 120, 197, 0.074); */
    background-color: black;
    color: white;
}